@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* From Uiverse.io by SelfMadeSystem */
/* From Uiverse.io by BadlyWrittenStylesheet */
.container {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  /* background-color: lightblue; */
  background-image:
    radial-gradient(black 55%, #0000),
    /* radial-gradient(black 55%, #0000), */
    linear-gradient(
        135deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        indigo,
        deeppink
      );
  background-size:
    100% 0.5%,
    contain;
  /* background-blend-mode: hard-light; */
  /* background-position: 0 0, 1em 1em, 0 0; */
}
@media (max-width: 768px) {
  .split-pizza-container {
    width: 100%; /* Use full width on small screens */
    height: auto;
  }
}
